<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=171407739923426";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=171407739923426";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<h3>Invite Artists to Artist Magnet with Facebook</h3>

<h4>Click the Send button to invite your Facebook friends
to join Artist Magnet</h4>
<div class="fb-send" data-href="http://ArtistMagnet.com" data-layout="button_count"></div>

<h4>Click the Share button to share Artist Magnet on your Facebook timeline, your friends'
timelines, your groups, your pages, and private messages</h4>
<div class="fb-share-button" data-href="http://ArtistMagnet.com" data-layout="button_count" data-mobile-iframe="true"></div>

