<% if !flash[:alert].blank? || !notice.blank? ||  !flash[:notice].blank? %>
	<div class="alert " id="notice">
	  <button type="button" class="close">×</button>
	  <%= flash[:alert] %>
	  <%= notice %>
	  <%#= flash[:notice] %>
	</div>
<% end %>