<div class="container-fluid m-top-20">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render partial: 'layouts/includes/facebook' %>


          <%= render partial: 'layouts/includes/notice' %>

          <div class="form-group">
            <h3 class="col-md-offset-2 col-md-10 m-bottom-20">
              <!-- <span>Invite an Artist to <%= @to.name %> on Artist Magnet</span> -->
              <span>Invite Artists to Artist Magnet by Email</span>
              <%#= link_to @to do %>
               <!--  <button class="btn btn-primary pull-right m-top-m6" type="button">Done</button> -->
              <%# end %>
            </h3>
          </div>

              
          <%=render :partial => 'artist_invitations/form',:@to => @to, :@invitation => @invitation %>
	
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
