/* Basic */
html,
body {
	width: 100%;
	min-height: 100%;
	height: auto;

	text-align: center;
	font-family: sans-serif;
	
	margin: 0;
	padding: 0;
}

/* Logo */
.logo {
	margin-top: 150px;
}

/* Form */
#mc_embed_signup {
	width: 90%;
	display: inline-block;
	float: none;
	margin-top: 30px;
}

form {
	display: inline-block;
	float: none;
	width: 40%;
	font-size: 13px;
}

form .asterisk,
form .indicates-required {
	color: red;
}

form .indicates-required {
	margin-top: 20px;
	font-size: 11px;
}

form label {
	width: 100px;
	text-align: left;
	display: inline-block;
}

form input[type="text"],
form input[type="email"] {
	width: 180px;
	display: inline-block;
}

h2 {
	color: gray;
	font-size: 16px;
}

input[type="submit"] {
	text-transform: uppercase;
	border: 0;
	margin-top: 15px;
	padding: 10px;
}

input[type="submit"]:hover {
	background: red;
	color: black;
}

input:hover {
	cursor: pointer;
}