<tr class="fields">   
   
    <!-- <div class="col-sm-1"> 
      <img width="30px;" alt="Icon" src="/assets/drag.jpg">
    </div> -->

  <% cust.object.ccolumns.each_with_index do |column_value, index| %>
    <td class="col-sm-2 drag-enable" >
      <%= text_field_tag "#{cust.object_name}[ccolumns][]",column_value||"",:class=>"form-control customs custom_cols diminished-font col#{index+1}",:placeholder=>"" %>   
    </td>
  <% end -%>
   
   <!--  <td class="col-sm-1 drag-enable" >
      <%#= cust.text_field :custom5,:class=>"form-control diminished-font col5 custom",:placeholder=>"" %>
    </td>
    <td class="col-sm-1 drag-enable">
      <%#= cust.text_field :custom6,:class=>"form-control diminished-font col6 custom",:placeholder=>"" ,:style=>"width: 59px;"%>
    </td> -->
    
    <td class="col-sm-1">
      <%= cust.link_to_remove "-",:class=>"btn btn-default remove_row",:title=>"Remove Row",data: {confirm: 'Are you sure?'}%>
      <%=hidden_field_tag "#{cust.object_name}[is_bold]",cust.object.is_bold||"",:class=>"tr_bold"%>
    </td>
</tr> 
<%#= cust.hidden_field :position,:class=>"nested_custom_attr"%>
<!-- <input name="columns" type="hidden" class="add_column" value="" /> -->