<tr>
  <% @resume.customs.first.ccolumns.size.times do |index| %>
    <td class="col-sm-2 drag-enable">
      <div class="table-handle"></div>
      <a class="btn btn-default remove_cols" id=<%= "col#{index+1}" %> title="Remove Column" data-association="<%=section%>">-</a>
    </th>
  <% end -%>

  <th class="col-sm-1">
    <a class="btn btn-default add_cols" id="" title="Add Column" data-association="<%= section %>">+</a>
  </th>
    
</tr>