<%#education(cust,"custom")%>
    <tr class="">
    <td class="col-sm-2 drag-enable">
      <input class="form-control diminished-font custom_cols customs col1" name="resume[customs_attributes][0][ccolumns][]" value="<%#= education(cust,"custom").present? ? !education(cust,"custom")[1].blank? ? education(cust,"custom")[1] : "" : ""%>" placeholder="Enter Custom Title" type="text", id="1">
    </td>
    <td class="col-sm-2 drag-enable">
      <input class="form-control diminished-font custom_cols customs col2" name="resume[customs_attributes][0][ccolumns][]" value="<%#= education(cust,"custom").present? ? !education(cust,"custom")[2].blank? ? education(cust,"custom")[2] : "" : ""%>" placeholder="Enter Custom Title" type="text" id="2">
    </td>
    <td class="col-sm-2 drag-enable">
      <input class="form-control diminished-font custom_cols customs col3" name="resume[customs_attributes][0][ccolumns][]" value="<%#= education(cust,"custom").present? ? !education(cust,"custom")[3].blank? ? education(cust,"custom")[3] : "" : ""%>" placeholder="Enter Custom Title" type="text" id="3">
    </td>
    <td class="col-sm-2 drag-enable">
      <input class="form-control diminished-font custom_cols customs col4" name="resume[customs_attributes][0][ccolumns][]" value="<%#= education(cust,"custom").present? ? !education(cust,"custom")[4].blank? ? education(cust,"custom")[4] : "" : ""%>" placeholder="Enter Custom Title" type="text" id="4">
    </td>
  
    <td class="col-sm-1">
      <a class="btn btn-default remove_nested_fields remove_columns" title="Remove Row" data-association="customs" data-success="true" data-confirm='Are you sure?' href="javascript:void(0)">-</a>
      <%=hidden_field_tag 'resume[customs_attributes][0][is_bold]',"",:class=>"tr_bold"%>
    </td>
 </tr>
  <!-- <td class="col-sm-1 drag-enable">
      <input class="form-control diminished-font custom_cols col5 custom" name="custom5" value="<%#= education(cust,"custom").present? ? !education(cust,"custom")[5].blank? ? education(cust,"custom")[5] : "" : ""%>"  placeholder="Enter Custom Title" type="text" id="5">
    </td>
    <td class="col-sm-1 drag-enable">
      <input class="form-control diminished-font custom_cols col6 custom" name="custom6" value="<#%= education(cust,"custom").present? ? !education(cust,"custom")[6].blank? ? education(cust,"custom")[6] : "" : ""%>" placeholder="Enter Custom Title" style="width: 59px;" type="text" id="6" data-association="customs">
    </td> -->