<tr class="fields">
  <% 6.times do |index| %>
    <td class="col-sm-<%= index >=5 ? 1 : 2 %> drag-enable">
      <%= text_field_tag "#{e.object_name}[ecolumns][]", e.object.ecolumns[index]||"", :class=>"form-control diminished-font col#{index+1} educations educations",:placeholder=>"" %>
    </td>
  <% end -%>
     
  <td class="col-sm-1">
    <%= e.link_to_remove "-",:class=>"btn btn-default remove_row",:title=>"Remove Row",data: {confirm: 'Are you sure?'}%>
    <%=hidden_field_tag "#{e.object_name}[is_bold]",e.object.is_bold||"",:class=>"tr_bold"%>
  </td> 
</tr>
<%#= e.hidden_field :position, :class => 'bar' %>
  <%#= e.hidden_field :position,:class=>"nested_education_attr"%>

<!-- <input name="columns" type="hidden" class="add_column" value="" />  -->

