<div id="container">
<a class="btn btn-default remove_nested_field remove_education pull-right" data-association="Other" data-success="true" href="javascript:void(0)" title="Remove Section">X</a>
<%#section = ResumeSection.new %>
<%#=f.fields_for :resume_sections,section, child_index: section.object_id do |o|%> 
  <%#= o.text_field :section_name,:class=>"resume_section section_heading"%>
  <%#= o.hidden_field :position,:class=>"resume_section section_heading"%>
  <%#= o.hidden_field :section_id,:value=>5,:class=>"resume_section section_heading"%>
<%#end%> 
<!-- </div> -->
<input class="resume_section section_heading" id="resume_resume_sections_attributes_4_name" name="resume[resume_sections_attributes][4][section_name]" type="" value="Other">
</div>
  <input class="resume_section" id="resume_resume_sections_attributes_4_position" name="resume[resume_sections_attributes][4][position]" type="hidden">
  <input id="resume_resume_sections_attributes_4_section_id" name="resume[resume_sections_attributes][4][section_id]" value="5" type="hidden">
 
  <!-- <li class="sortable"> -->

    <%=f.fields_for :others do |o|%>
      <%= render "resumes/nested/other" ,:o=>o%>
    <%end%>
    <%#= f.link_to_add "Add More", :others ,:class=>"btn btn-default"%> 
  <!-- </li> -->