<h1>Upgrade Your Account</h1>

<h3>Become a PowerMagnet and you will gain access to the following features:</h3>
<ul style="list-style-type: circle;">
  <li>Build, save, print and share as many customized Resumes as you'd like</li>
  <li>Upload unlimited headshots, images and video embeds onto your Resumes</li>
  <li>Make custom URLs for your Resumes to share with friends, fellow
Artists, Casting Directors and Production Companies</li>
  <li>We'll share your Resumes with our exclusive list of top Casting
Directors and Producers in the Industry!</li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th>Custom</th>
      <th>Standard</th>
      <th>Premium</th>      
    </tr>
  </thead>
  <tbody>    
    <tr>
      <td>$10<br /><%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), express_orders_path(:price=>10) %></td>
      <td>$20<br /><%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), express_orders_path(:price=>20) %></td>
      <td>$30<br /><%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), express_orders_path(:price=>30) %></td>
    </tr>
  </tbody>
</table>
