<div id="container">
<a class="btn btn-default remove_nested_field remove_education pull-right" data-association="Representation" data-success="true" href="javascript:void(0)" title="Remove Section">X</a>
<!-- <a class="btn btn-default add_bold pull-right" data-association="Representation" href="javascript:void(0)" title="Toogle Bold/Unbold the Title Row">B</a> -->
<%#section = ResumeSection.new %>
<%#=f.fields_for :resume_sections,section, child_index: section.object_id do |r|%> 
  <%#= r.text_field :section_name,:class=>"resume_section section_heading"%>
  <%#= r.hidden_field :position,:class=>"resume_section section_heading"%>
  <%#= r.hidden_field :section_id,:value=>1,:class=>"resume_section section_heading"%>
<%#end%> 
<!-- </div>                   -->
                    <input class="resume_section section_heading" id="resume_resume_sections_attributes_0_name" name="resume[resume_sections_attributes][0][section_name]" type="" value="Representation"> 
                     </div>
                    <input class="resume_section" id="resume_resume_sections_attributes_0_position" name="resume[resume_sections_attributes][0][position]" type="hidden">
                    <input id="resume_resume_sections_attributes_0_section_id" name="resume[resume_sections_attributes][0][section_id]" value="1" type="hidden">
                   <%=f.fields_for :representations do |r|%>
                    <div class="form-group">
  
                      <div class="col-sm-1" >
                        
                      </div>
                      <br/>
                      <div class="col-sm-8" >
                        <div class="other_test diminished-font">
                          <%= r.text_area :rcolumns,:class=>"form-control diminished-font tag-input",:placeholder=>"",:onkeyup=>"auto_grow(this)" %>
                        </div>
                      </div>  

                    </div>  
                   <%end%> 
                    




                    <!-- <table id="demo" class="representation draggable">
                     <thead> 
                    <%#=render 'resumes/nested/representation_cols_remove', :section => "representations"%>
                    </thead>
                    
                    <tbody class="sortable render_representation_table">
                      <%#=render 'resumes/nested/representation_fields',:repr=>f%>
                      <%#=f.fields_for :representations,:wrapper => false do |r|%>                
                         <%#= render "resumes/nested/representation" ,:r=>r%>
                      <%#end%>
                      <tfoot>
    
                      <tr> 
                     
                        <th colspan="8"><%#= f.link_to_add "+", :representations ,:class=>"btn btn-default add_edu_row",:title=>"Add Row"%></th>
                       </tr>
                       </tfoot>
                       </tbody>
                       </table> -->
                       <script type="text/javascript">
                       // $(document).ready(function(){
                       //  $('table#demo').dragtable({
                       //    revert: true,               // smooth revert
                       //    dragHandle: '.table-handle',
                       //    cursor: 'move',
                       //    dragaccept: '.drag-enable',
                       //    excludeFooter: true
                       //  });
                       // }); 

                       </script>
                      
                  