<div class="form-group">
  <%#= s.hidden_field :position, :class => 'bar' %>
  <div class="col-sm-1" >
    <!-- <img width="30px;" alt="Icon" src="/assets/drag.jpg">     -->
    <%#= s.collection_select :category_id, Category.all, :id, :name, { :prompt => 'Select a Category' },:class=>"form-control" %>
    <%#= s.text_field :category_id,:class=>"form-control",:placeholder=>"Category" %>
  </div>
  <br/>
  <div class="col-sm-8" >
    <div class="other_test diminished-font">
      <%= s.text_field :skills,:class=>"form-control diminished-font tag-input",:placeholder=>"" %>
    </div>
    <%= s.hidden_field :position,:class=>"nested_skill_attr"%>
  </div>  
  <!--  <div class="col-sm-2">
    <%#= s.link_to_remove "Remove",:class=>"btn btn-default" %>
   </div> -->  
</div>
<script>
  // $('.tag-input').tagsinput('add', '');
</script>