<div class="roles-table row m-bottom-20 diminished-font">
                <div class="col-md-3">
                  <strong>Production</strong> 
                </div>
                <div class="col-md-2">
                  <strong>Role</strong> 
              </div>
              <div class="col-md-2 director_col">
                <strong>Director</strong> 
              </div>
                <div class="col-md-4">
                  <strong>Venue/Company</strong> 

                <!-- <div class="col-md-6"> -->
                  <!-- <strong>Company</strong> -->
                 <!--  <a href="#"><i class="fa fa-check-square-o text-pale"></i></a> -->
                <!-- </div> -->
              </div>
            </div>
            
            
            
                  

     