<div class="form-group">
  <div class="col-sm-2">
    <label for="resume_theatres_attributes_Production:">Production</label>
  </div>
  <div class="col-sm-1">
    <label for="resume_theatres_attributes_Role:">Role</label>    
  </div>

  <div class="col-sm-2">
    <label for="resume_theatres_attributes_Venue:">Venue</label>
  </div>
  <div class="col-sm-2">
    <label for="resume_theatres_attributes_Company:">Company</label>
  </div>
  <div class="col-sm-2">
    <label for="resume_theatres_attributes_Director:">Director</label>
  </div>

  <div class="col-sm-1">
    <label for="resume_theatres_attributes_Performance Date:">Perf. Date</label>
  </div>
  <div class="col-sm-1">
    <label for="resume_theatres_attributes_Location:">Location</label>
  </div>
   <div class="col-sm-1">
  <!-- <input type="hidden" value="false" name="resume[theatres_attributes][<%=@id%>][_destroy]" id="resume_theatres_attributes_<%=@id%>__destroy"><a href="javascript:void(0)" data-association="theatres" class="btn btn-default remove_nested_fields">Remove</a> -->
  </div> 
</div>