<p>
  <%= link_to "New Resume", new_resume_path %> <br />
  <%= link_to "My Resumes", resumes_path %>
</p>

<!--<p>-->
  <!--< %= link_to "New Production", new_production_path %>  <br />-->
  <!--< %= link_to "All Productions", productions_path %>-->
<!--</p>-->

