<h2>Artist magnet</h2>

<p>
  <%= link_to "New Production", new_production_path %>
</p>

<p>
  <%= link_to "Companies", companies_path %> <br />
  <%= link_to "Productions", productions_path %> <br />
  <%= link_to "Venues", venues_path %>
</p>

