<span class='btn btn-primary'>Whoops - Error!</span>
<p>Looks like the page you’re looking for does not exist (maybe
never did!) - we’re sorry about that!
Try some of the links below to help find what you’re looking for.
</p>
<div class="row">
	<div class="cols-md-8">
	    <div class="form-group">
	      <div class="col-sm-6">
		   <a href="" class="btn btn-primary">ArtistSpace </a>
		   </div>
		   <div class="col-sm-6">
	       <a href="/about" class="btn btn-primary">About </a>
	       </div>
	    </div>
	    <div class="form-group">
	        <div class="col-sm-6">
		      <a href="" class="btn btn-primary">My Resumes </a>
		    </div>
		    <div class="col-sm-6">
		      <a href="/contact" class="btn btn-primary">Contact </a>
		    </div>
	    </div>

	    <div class="form-group">
	        <div class="col-sm-6">
		      <a href="" class="btn btn-primary">Account Settings
	            </a>
		    </div>
		    <div class="col-sm-6"></div>
		    
	    </div>
	</div>
	<div class="cols-md-4">
	</div>
</div>