// Main colors
$colorMain: #41c4dd;
$colorMainBg: #ffffff;
$colorMainAccentBlue: #41c4dd;
$colorMainAccentGreen: #5fc2a2;
$colorDropdownHeader: $colorMain;

// Derived colors
$colorOrange: #ff9538;

$colorBlue: #41c4dd;
$colorBlueLt: #7ad6e7;

$colorRed: #fe4748;
$colorRedLt: #fe7e7f;

$colorGreen: #5fc2a2;
$colorGreenLt: #8fd5be;

$colorYellow: #ffdc4f;
$colorYellowLt: #ffea96;

// Grays
$colorDarkGray: #7a848b;
$colorMediumGray: #d1d3d4;
$colorLightGray: #f4f6f6;
