@font-face {
  font-family: 'Copse';
  font-style: normal;
  font-weight: normal;
  src: local('Copse'), url('http://themes.googleusercontent.com/static/fonts/copse/v1/wpqdPiqIhpZbF5z3WfvSXg.woff') format('woff');
}
