Dear <%= @stage_name %>:

<br><br>
		    I am building a new hyperlinking Resume on Artist Magnet - a new social network for Theatre people connecting Artists through Shows and Venues everywhere.
		    <br><br>
		    In order to complete my Resume, I would like to add you as my Director for <%= @production.name %>, and hyperlink my Resume to yours. To help me do this, please build your own Resume and link it to mine. You can do it here: <a href="http://www.ArtistMagnet.com">www.ArtistMagnet.com</a>
		    <br><br>
Thanks for your help, and see you soon on Artist Magnet,
		    <br><br>



<%= @referrer_name %>	
	

<br />

<br />
---
<p>
  <%= @invitation.text %>
</p>


