<h1>Editing role</h1>

<%= render 'form' %>

<!--< %= link_to 'Show', [@role.resume, @role] %> |-->
<%= link_to 'Resume', @role.resume %>
<!--< %= link_to 'Roles list', resume_roles_path(@role.resume) %>-->
