@import "reset.css";

html {
	height: 100%;
}

body {
	background: url("../images/page-gradient.jpg") #FFFFFF;
	color: black;
	font-family: 'Open Sans', arial, serif;
	font-size: 18px;
	height: 100%;
}

#page-frame {
	background: url("../images/page-frame-repeat.jpg") repeat-y scroll left
		top #FFFFFF;
	margin: 0 auto;
	width: 853px;
}

#page-content {
	padding: 20px 20px 8px;
}

#page-frame-baseline {
	background: url("../images/page-frame-baseline.jpg") no-repeat scroll
		left top #FFFFFF;
	height: 10px;
	margin: 0 auto;
	width: 853px;
}

#navigation-background {
	background: url("../images/navigation-background.jpg") repeat-x scroll
		left top transparent;
	height: 101px;
	left: 0;
	position: absolute;
	top: 33px;
	width: 100%;
	z-index: 0;
}

#navigation-ribbon {
	background: url("../images/navigation-ribbon.png") repeat-x scroll left
		top transparent;
	height: 110px;
	left: 50%;
	margin-left: -492px;
	position: absolute;
	top: 32px;
	width: 985px;
	z-index: 1;
}

#logo {
	margin: 10px 10px 0 80px;
}

#cloud {
	background: url("../images/cloud.png") no-repeat scroll left top
		transparent;
	height: 130px;
	left: 50%;
	margin-left: -180px;
	position: absolute;
	top: 52px;
	width: 596px;
	z-index: 2;
}

#twitter-feed {
	color: black;
	font-size: 13px;
	margin: 10px 20px 0 80px;
}

#page-header {
	padding-left: 231px;
}

#page-header .root-buttons {
	margin-right: 10px;
}

button.big {
	background: url("../images/form-button-background2.jpg") no-repeat
		scroll left top #D5DADD;
	border: 1px solid #BBD5E3;
	font-size: 14px;
	height: 28px;
	padding: 0 5px;
	width: 142px;
	cursor: pointer;
}

.shadow {
	box-shadow: 3px 3px 4px #DBE0E4;
}

form {
	background: none repeat scroll 0 0 #E2E7EB;
	display: inline-block;
	padding: 9px 20px 15px;
	width: 432px;
}

form p,form table,form tr,form td {
	border-width: 0;
	margin: 11px 0 0;
	padding: 0;
	text-align: right;
}

form p.error,form p.success {
	background: none repeat scroll 0 0 coral;
	color: black;
	display: block;
	font-size: 14px;
	line-height: 18px;
	padding: 5px;
	text-align: center;
}

form p.success {
	background: none repeat scroll 0 0 lightblue;
}

form table {
	width: 100%;
}

form label,td.label { /*height: 30px;*/
	width: 200px;
}

form label {
	float: left;
	/*line-height: 30px;*/
	margin: 0 20px 0 0;
	text-align: right;
}

input[type="checkbox"] {
	width: 20px;
}

select {
	background: url("../images/form-textfield-background.jpg") repeat-x
		scroll left top #FFFFFF;
	border: 1px solid #D4D4D4;
	display: block;
	font-size: 18px;
	height: 28px;
	padding: 0;
	width: 212px;
}

input[type="text"],input[type="password"] {
	background: url("../images/form-textfield-background.jpg") repeat-x
		scroll left top #FFFFFF;
	border: 1px solid #D4D4D4;
	display: block;
	font-size: 18px;
	height: 28px;
	padding: 0 5px;
	width: 200px;
}

input[type="submit"] {
	background: url("../images/form-button-background.jpg") no-repeat scroll
		left top #D5DADD;
	border: 1px solid #BBD5E3;
	font-size: 14px;
	height: 28px;
	padding: 0 5px;
	width: 72px;
}

.error {
	color: red;
	display: block;
	font-size: 10px;
}

div.membership-signup {
	margin-left: auto;
	margin-right: auto;
	width: 592px;
}

form.membership-signup {
	width: 552px;
}

form.membership-signup label,form.membership-signup td.label {
	/*height: 30px;*/
	width: 240px;
}

form.membership-signup input[type="text"],form.membership-signup input[type="password"]
	{
	width: 280px;
}

form.membership-signup select {
	width: 292px;
}

div.membership-signin {
	margin-left: auto;
	margin-right: auto;
	width: 362px;
}

form.membership-signin {
	width: 362px;
}

form.membership-signin label,form.membership-signin td.label {
	height: 30px;
	width: 130px;
}

div.membership-reset {
	margin-left: auto;
	margin-right: auto;
	width: 332px;
}

form.membership-reset {
	width: 332px;
}

form.membership-reset label,form.membership-reset td.label {
	height: 30px;
	width: 100px;
}

form#signin.small {
	border-radius: 0 0 0 0;
	font-size: 12px;
	padding: 0 8px 8px;
	width: 177px;
}

form#signin.small input[type="text"],form#signin.small input[type="password"]
	{
	font-size: 10px;
	height: 15px;
	width: 100px;
}

form#signin.small label,form#signin.small td.label {
	font-size: 13px;
	height: 15px;
	line-height: 16px;
	margin: 0 5px 0 0;
	width: 60px;
}

#recaptcha_widget_div {
	margin-left: 235px;
}

#signup_button {
	background: url("../images/form-button-background.jpg") no-repeat scroll
		left top #D5DADD;
	border: 1px solid #BBD5E3;
	font-size: 14px;
	height: 28px;
	padding: 0 5px;
	width: 72px;
}

div.resume {
	margin-left: auto;
	margin-right: auto;
	width: 592px;
}

form.resume {
	width: 552px;
}

form.resume select {
	width: 292px;
	margin-bottom: 5px;
}

form.resume label {
	float: none;
	margin: 0 10px 0;
	text-align: right;
}

form.resume div.box-header {
	background-color: #B0B9C5;
	color: black;
	font-size: 18px;
	margin: 0 0 20px;
	padding: 8px 10px;
	text-align: left;
}

form.resume input[type="submit"] {
	background: url("../images/form-button-background2.jpg") no-repeat
		scroll left top #D5DADD;
	border: 1px solid #BBD5E3;
	font-size: 14px;
	height: 28px;
	padding: 0 5px;
	width: 142px;
	cursor: pointer;
}

form.resume input[type="text"] {
	border: 1px solid #D4D4D4;
	font-size: 18px;
	height: 18px;
	padding: 5px;
	margin-bottom: 5px;
	display: inline;
}

form.resume input[type="file"] {
	border: 1px solid #D4D4D4;
	font-size: 14px;
	margin-bottom: 5px;
	display: inline;
}

div.resume2 {
	margin-left: auto;
	margin-right: auto;
	width: 782px;
}

form.resume2 {
	width: 742px;
}

form.resume2 select {
	border: 1px solid #D4D4D4;
	font-size: 14px;
	height: 26px;
	padding: 3px;
	margin: 2px;
	display: inline;
	width: 100px;
}

form.resume2 label {
	float: none;
	margin: 0 10px 0;
	text-align: right;
}

form.resume2 div.section-box {
	border: 2px solid #B0B9C5;
	color: black;
	padding: 2px;
	margin-top: 18px;
	background-color: #E2E7EB;
}

form.resume2 div.section-box div.header {
	background-color: #B0B9C5;
	color: black;
	font-size: 18px;
	margin: 0 0 10px;
	padding: 5px;
	text-align: left;
	height: 28px;
}

form.resume2  ul {
	display: inline;
}

form.resume2 li {
	list-style: none;
}

.move {
	cursor: move;
}

.hide {
	display: none !important;
}

form.resume2 div.section-box th {
	background-color: #E2E7EB;
	color: black;
	font-size: 18px;
	text-align: left;
	border-width: 1;
	border-color: #E2E7EB;
	font-weight: normal;
	padding: 0;
}

form.resume2 div.section-box td {
	text-align: left;
	background-color: #E2E7EB;
}

form.resume2 button[type="submit"] {
	background: url("../images/form-button-background2.jpg") no-repeat
		scroll left top #D5DADD;
	border: 1px solid #BBD5E3;
	font-size: 14px;
	height: 28px;
	padding: 0 5px;
	width: 142px;
	cursor: pointer;
}

form.resume2 input[type="text"] {
	border: 1px solid #D4D4D4;
	font-size: 18px;
	height: 18px;
	padding: 5px;
	margin-bottom: 2px;
	display: inline;
	width: 100px;
}

form.resume2 button.add-del {
	background: url("../images/form-button-background.jpg") no-repeat scroll
		left top #D5DADD;
	border: 1px solid #BBD5E3;
	font-size: 14px;
	height: 24px;
	padding: 0 2px;
	width: 24px;
	margin-left: 2px;
	cursor: pointer;
}

form.resume2 button {
	background: url("../images/form-button-background2.jpg") no-repeat
		scroll left top #D5DADD;
	border: 1px solid #BBD5E3;
	font-size: 14px;
	height: 28px;
	padding: 0 5px;
	width: 142px;
	cursor: pointer;
}

form.resume2 button.section-button {
	float: right;
	margin-left: 2px;
}

form.resume2 textarea {
	border: 1px solid #D4D4D4;
	font-size: 18px;
	padding: 2px;
	resize: none;
}

form.resume2 input.field[type="text"] {
	border: 1px solid #D4D4D4;
	font-size: 12px;
	height: 14px;
	padding: 5px;
	margin-bottom: 2px;
	margin-right: 2px;
	display: inline;
	width: 100px;
}

form.resume2 div.box {
	background-color: #B0B9C5;
	color: black;
	font-size: 18px;
	margin: 0 0 20px;
	padding: 8px 10px;
	text-align: left;
}

form.resume2 div.container {
	overflow: auto;
}

form.resume2 th.button {
	width: 24px;
}

div.resume-view {
	margin-left: auto;
	margin-right: auto;
	width: 782px;
}

form.resume-view {
	width: 742px;
}

form.resume-view div.box {
	background-color: #B0B9C5;
	color: black;
	font-size: 18px;
	margin: 0 0 20px;
	padding: 8px 10px;
	text-align: left;
}

form.resume-view button {
	background: url("../images/form-button-background2.jpg") no-repeat
		scroll left top #D5DADD;
	border: 1px solid #BBD5E3;
	font-size: 14px;
	height: 28px;
	padding: 0 5px;
	width: 142px;
	cursor: pointer;
}

form.resume-view table {
	text-align: left;
	margin: 11px 0 0 0;
	border: solid 1px #D4D4D4;
}

form.resume-view tr {
	text-align: left;
	margin: 11px 0 0 0;
}

form.resume-view td {
	text-align: left;
}

form.resume-view p {
	text-align: left;
}

form.resume-view .rname1 {
	font-size: 18px;
	color: #4880D3;
	text-align: right;
	font-weight: bold;
}

form.resume-view .rname2 {
	font-size: 13px;
	color: #000000;
	text-align: right;
}

form.resume-view .rname3 {
	font-size: 13px;
	color: #4880D3;
	text-align: left;
	font-weight: bold;
}

form.resume-view .resume {
	font-size: 12px;
	color: #000000;
}

form.resume-view .resume_b {
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}

form.resume-view .resume_r {
	font-size: 12px;
	color: red;
}

form.resume-view .resume_center {
	font-size: 12px;
	color: #000000;
	text-align: center;
}

form.resume-view .resume_r_center {
	font-size: 12px;
	color: red;
	text-align: center;
}

div.revenue-view {
	padding: 0 10px;
}

div.revenue-view button {
	background: url("../images/form-button-background2.jpg") no-repeat
		scroll left top #D5DADD;
	border: 1px solid #BBD5E3;
	font-size: 14px;
	height: 28px;
	padding: 0 5px;
	width: 122px;
	cursor: pointer;
}

div.revenue-view a {
	font-size: 18px;
	color: brown;
}

div.revenue-view table {
	text-align: left;
	border: none;
	width: 100%;
}

div.revenue-view table tr {
	text-align: left;
}

div.revenue-view table th {
	font-size: 14px;
	background-color: #B0B9C5;
	padding: 2px;
}

div.revenue-view table td {
	text-align: left;
	padding: 2px;
}

div.revenue-view div.box {
	background-color: #B0B9C5;
	color: black;
	font-size: 18px;
	margin: 0 0 20px;
	padding: 8px 10px;
	text-align: left;
}

div.forgotpass {
	width: 440px;
	padding: 10px;
	margin: 0 auto;
}

div.forgotpass form {
	background: none;
	padding: 0;
	margin: 0;
}

div.forgotpass label {
	width: auto;
}

div.forgotpass div.box {
	background-color: #B0B9C5;
	color: black;
	font-size: 18px;
	padding: 8px 10px;
	text-align: left;
}

div.venue div.box {
	background-color: #B0B9C5;
	color: black;
	font-size: 18px;
	margin: 0 0 20px;
	padding: 8px 10px;
	text-align: left;
}

div.venue form {
	background: none repeat scroll 0 0 #E2E7EB;
	padding: 5px;
	margin: 0;
	width: 800px;
}

div.venue button {
	background: url("../images/form-button-background2.jpg") no-repeat
		scroll left top #D5DADD;
	border: 1px solid #BBD5E3;
	font-size: 14px;
	height: 28px;
	padding: 0 5px;
	width: 142px;
	cursor: pointer;
}

div.venue button.big {
	background: url("../images/form-button-background3.jpg") no-repeat
		scroll left top #D5DADD;
	border: 1px solid #BBD5E3;
	font-size: 14px;
	height: 28px;
	padding: 0 5px;
	width: 200px;
	cursor: pointer;
}

div.venue table {
	text-align: left;
	margin: 11px 0 0 0;
	border: solid 1px #D4D4D4;
}

div.venue tr {
	text-align: left;
	margin: 0;
}

div.venue td {
	text-align: left;
	padding: 3px;
}

div.venue p {
	text-align: left;
	font-size: 12px;
	margin-bottom: 20px;
}

div.venue form span.blue {
	color: #4880D3;
	font-size: 12px;
	font-weight: normal;
}

div.venue form span.title {
	color: #4880D3;
	font-size: 18px;
	font-weight: bold;
	float: left;
}

div.venue form span {
	color: black;
	font-size: 12px;
}

div.venue form a {
	color: red;
	font-size: 12px;
	font-weight: normal;
}

div.venue label {
	float: none;
	margin: 0 10px 0;
	text-align: right;
}

div.venue input[type="file"] {
	border: 1px solid #D4D4D4;
	font-size: 14px;
	margin-bottom: 5px;
	width:90%;
	display: inline;
}

#sendDialog form {
	background: none;
	padding: 0;
	width: 100%;
}

#sendDialog form p {
	margin: 0;
	padding: 0;
	text-align: left;
}

#facebook_button {
	background: url("../images/sign-in-with-facebook.png") no-repeat scroll
		left top;
	border: none;
	height: 22px;
	width: 155px;
	color: transparent;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

iframe { /*  display: none;*/
	
}

#accountTypes {
	background: url("../images/form-textfield-background.jpg") repeat-x
		scroll left top white;
	border: 1px solid #D4D4D4;
	color: black;
	cursor: default;
	display: block;
	float: left;
	font-size: 18px;
	height: 28px;
	margin: 3px 0 5px;
	padding: 0;
	white-space: pre;
	width: 290px;
}

.accountTypesOptions {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 white;
	border-color: #D4D4D4 #D4D4D4 -moz-use-text-color;
	border-style: solid solid none;
	border-width: 1px 1px medium;
	cursor: pointer;
	display: none;
	height: 120px;
	margin-top: -146px;
	overflow-y: scroll;
	position: absolute;
	width: 286.5px;
	z-index: 1000;
}

.customOptions {
	background: none repeat scroll 0 0 #D5DADD;
	border: 1px solid #3B5998;
	color: #505050;
	font-size: 14px;
	font-weight: normal;
	height: auto;
	margin-left: 315px;
	margin-top: -145px;
	padding: 2px 2px 2px 6px;
	position: absolute;
	white-space: normal;
	width: 117px;
	z-index: 1100;
}

.all_users {
	border: medium none;
	border-spacing: 0;
	font: 14px/1.3 Helvetica;
	margin: 0 auto;
	width: 100%;
}

.navigator {
	height: 30px;
	width: 100%;
}

.pageNavigator {
	height: 25px;
	padding: 5px;
	width: 40px;
}

.welcome_text {
	margin: 0 0 10px;
}

#left-content {
	background: none repeat scroll 0 0 #DCDCDC;
	float: left;
	height: auto !important;
	min-height: 300px;
	width: 210px;
}

#center-content {
	height: auto !important;
	margin: 0 0 0 210px;
	min-height: 300px;
}

#center-content h1 {
	background: none repeat scroll 0 0 #B0B9C5;
	color: black;
	font-size: 18px;
	margin: 0 0 20px;
	padding: 8px 10px;
}

#center-content .menu {
	height: 100%;
	padding: 0 60px 20px 30px;
	width: 100%;
}

#center-content .menu div {
	color: #1D4088;
	font-size: 15px;
	padding-left: 10px;
}

#center-content .menu a {
	color: #1D4088;
	text-decoration: none;
}

#center-content .menu a:hover {
	color: blue;
	text-decoration: underline;
}

#center-content .menu h4 {
	font-weight: normal;
	font-size: 20px;
	margin: 3px 0;
}

.info_board {
	color: #505050 !important;
	font-size: 15px !important;
	font-weight: normal;
	line-height: 1.22em;
	margin-bottom: 10px;
	padding-right: 40px;
}

label.error {
	display: block;
}

.form_row {
	display: block;
	padding: 5px 0px 5px 0px;
}

#messageBox {
	display: none;
	/*border: 1px solid red;*/
	margin-top: 55px;
	margin-left: 260px;
	text-align: center;
	background-color: pink;
}

#messageBox li {
	list-style: none;
	padding: 5px;
}

#save_button {
	background: url("../images/form-button-background.jpg") no-repeat scroll
		left top #D5DADD;
	border: 1px solid #BBD5E3;
	font-size: 14px;
	height: 28px;
	padding: 0 5px;
	width: 72px;
}

/*##### the dragtable stuff #####*/
.dragtable-sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	-moz-user-select: none;
}

.dragtable-sortable li {
	margin: 0;
	padding: 0;
	float: left;
	font-size: 1em;
	background: #E2E7EB;
}

.dragtable-sortable th,.dragtable-sortable td {
	border-left: 0px;
}

.dragtable-sortable li:first-child th,.dragtable-sortable li:first-child td
	{
	border-left: 1px solid #CCC;
}

.ui-sortable-helper {
	opacity: 0.7;
	filter: alpha(opacity = 70);
}

.ui-sortable-placeholder {
	-moz-box-shadow: 4px 5px 4px #C6C6C6 inset;
	-webkit-box-shadow: 4px 5px 4px #C6C6C6 inset;
	box-shadow: 4px 5px 4px #C6C6C6 inset;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	visibility: visible !important;
	background: #EFEFEF !important;
}

.ui-sortable-placeholder * {
	opacity: 0.0;
	visibility: hidden;
}

#ptitle10 {
	font-size: 12px;
	text-align: center;
}

div.footer {
	margin-top: 10px;
}

div.statement-text {
	text-align: justify;
}

div.center {
	height: auto !important;
	margin: 0 0 0 0;
	text-align: center;
}