<% if @videos.present? %>
    <% @videos.each do |video| %>
    <div class="more-videos">
    <%= embed(video.video_url) %>
    <%= link_to image_tag("edit_delete.png"),"javascript:void(0)",:class=>"video_#{video.id}" %>
    <script>
      $(document).on('click','.video_<%=video.id%>',function(){
        $.ajax({
          url: '<%=destroy_resume_video_path(video.id)%>',
          method: 'delete'
        });
      });
    </script>
    </div>
  <%end%>
  
<%end%>