<footer class="footer">   
	<ul>
		<li><a href="/about">About</a></li>		
		<li><a href="/faq">FAQ</a></li>
		<li><a href="/terms_and_conditions">Terms and Conditions</a></li>
		<li><a href="/privacy">Privacy</a></li>
		<li><a href="/copyright">copyright purposes</a></li>
        <li><a href="/contact">Contact</a></li>
	</ul> 
 
</footer>